/* Estilos generales } */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #28d311;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(19, 129, 105, 0.2);
}

/* Estilos para formularios */
form {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de confirmación */
button {
    background-color: #48c066;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #48c004;
}

/* Estilos para el resumen de reserva */
#resumen-nombre,
#resumen-email,
#resumen-telefono,
#resumen-tipo,
#resumen-fecha,
#resumen-tiempo {
    font-weight: bold;
}